@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

.app {
  @include flexbox.flexbox(center, center);
  height: 100vh;
  font-family: Mukta, sans-serif;

  .phone {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    padding: 50px 20px;
    background-color: #fafbfe;
    border-radius: 60px;
    box-shadow: rgba(50, 50, 93, 25%) 0 6px 12px -2px, rgba(0, 0, 0, 30%) 0 3px 7px -3px;
  }

  footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 1px solid colors.$BLUE;
    box-shadow: rgba(50, 50, 93, 25%) 0 -6px 12px -2px, rgba(0, 0, 0, 30%) 0 -3px 7px -3px;
  }
}

input,
button {
  font-family: inherit !important;
}
